*{
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(220, 180, 3);
}

.foodmenu{
    font-size: 32px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;

}

.title{
    font-size: 40px;
    text-align: center;
}

.menunames{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}

.list{
    color: rgb(0, 0, 0);
    background-color: black;
    margin-top: 4%;
    border: 2px solid black;
}

.divlistx{
    background-color: black;
    width: 100%;
}

.list1{
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-top: 7%;
    border: 2px solid black;
    background-color: black;
}

ol{
    border: 2px solid black;
    background-color: black;
}

.anim{
    transition-duration: 0.2s;
}

.anim:hover{
    margin-bottom: 6px;
    font-size: 20px;
}

img{
    background-image: url(images/pizza-6478478_1280.jpg);
    width: 500px;
    margin-right: 25px;
    margin-top: 8%;
    border: 2px solid black;
    
}

.layout1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 7%;
}

.undertext {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.6;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-left: 50px
}

.open-section {
    margin-top: 4%;
}