*{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(220, 180, 3);
}

.foodmenu{
    text-align: center;
    font-size: 32px;
    border: 2px solid black;
    border-radius: 10px;
}

.title{
    font-size: 40px;
    text-align: center;
    margin: auto;
}